# Dependency directory
node_modules/

# build directory
dist/

# Editor files
.vscode/

# virtual environment
model_dev/env/

# model files
model_dev/models/*

# pycache
model_dev/__pycache__/

.DS_STORE
