aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1649013149994/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1636093929600/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1640026696943/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1659291887007/work
Bottleneck @ file:///tmp/build/80754af9/bottleneck_1648010766492/work
brotlipy==0.7.0
certifi==2022.6.15
cffi @ file:///home/builder/ci_310/cffi_1642753365720/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1651215151197/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
cryptography @ file:///tmp/build/80754af9/cryptography_1652101588599/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1658788848069/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1653058582944/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1654070194245/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1648771692480/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1659099796968/work
huggingface-hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1656151962285/work
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1653252803161/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
mkl-fft==1.3.1
mkl-random @ file:///home/builder/ci_310/mkl_random_1641843545607/work
mkl-service==2.4.0
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1648882415384/work
multiprocess @ file:///home/conda/feedstock_root/build_artifacts/multiprocess_1647855903124/work
nlp @ file:///home/conda/feedstock_root/build_artifacts/nlp_1596736864032/work
numexpr @ file:///opt/conda/conda-bld/numexpr_1656071944761/work
numpy @ file:///opt/conda/conda-bld/numpy_and_numpy_base_1652801679809/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.4.2
Pillow==9.0.1
pyarrow==8.0.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1647961439546/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1648757090803/work
regex @ file:///tmp/build/80754af9/regex_1648429580840/work
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
responses @ file:///home/conda/feedstock_root/build_artifacts/responses_1643839609465/work
sacremoses @ file:///home/conda/feedstock_root/build_artifacts/sacremoses_1651557636210/work
sentencepiece==0.1.96
six @ file:///tmp/build/80754af9/six_1644875935023/work
tokenizers @ file:///opt/conda/conda-bld/tokenizers_1651822590771/work
torch==1.12.0
torchaudio==0.12.0
torchvision==0.13.0
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1649051611147/work
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1658975006560/work
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
urllib3 @ file:///opt/conda/conda-bld/urllib3_1650637206367/work
xxhash @ file:///home/conda/feedstock_root/build_artifacts/python-xxhash_1649442408890/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1648966516552/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1649012893348/work
